[Desktop Entry]
Encoding=UTF-8
Name=Enlace a cart.png
Type=Link
URL=https://github.com/szuviria/comision31145lumie/blob/after25032022/public/images/cart.png
Icon=text-html
