[Desktop Entry]
Encoding=UTF-8
Name=Enlace a logo192.png
Type=Link
URL=https://github.com/szuviria/comision31145lumie/blob/after25032022/public/images/logo192.png
Icon=text-html
